[Unit]
Description=GenieACS CWMP
After=network.target

[Service]
EnvironmentFile=/opt/genieacs-v1.2.1/genieacs.env
ExecStart=/opt/genieacs-v1.2.1/bin/genieacs-cwmp

[Install]
WantedBy=default.target
